<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <div class="row">
      <p class="lead">
        Una Applicazione creata per la gestione dei SAPR in MEAN STACK
      </p>
    </div>
  </div>
  <center>
    <div class="lead" style="text-align:left;">
      <h2>Descrizione della Applicazione</h2>
      <p>L'applicazione ha un form di login che ti permette di autenticarti come Admin o Pilota, e infine di gestire</p>
      <p>
        i droni, le checklist, e infine i voli, oltre alla gestione degli utenti
      </p>
      <p>Questo è una lista delle funzionalità del progetto:</p>
      <ul>
        <li>
          Clicca
          <em>Signup</em> per registrarti come pilota
        </li>
        <li>
          Clicca
          <em>Signin</em> per accedere all'area amministratore o pilota
        </li>
        <li>
          Editing delle checklist, degli utenti, dei voli e dei droni
        </li>
        <li>
          Aggiungere nuovi droni, voli e checklists
        </li>
      </ul>
    </div>
      <div class="row">
        <div>
        <a data-ui-sref="authentication.signup"><button type="submit" class="btn btn-primary">Registrati</button></a>
        <a data-ui-sref="authentication.signin"><button type="submit" class="btn btn-primary">Log In</button></a>
        </div>
      </div>
    </center>

</section>
