<section data-ng-controller="ChecklistsController">
  <div class="page-header">
    <h1>New Checklist</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
            <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="checkelement">Checkelements:</label>
          <div ng-init="getCheckelement()">
            <label ng-repeat="checkelement in checkelements" class="checkbox-inline">
              <input type="checkbox" name="selectedCheckelements[]" value="{{checkelement}}"  ng-checked="selection.indexOf(checkelement) > -1" ng-click="toggleSelection(checkelement)"/>
              {{checkelement.title}}
            </label>
          </div>
          <div class="row">
            <div class="col-md-6" data-ng-model="selectedCheckelements">
              <h4>selection</h4>
              <pre data-ng-model="selectedCheckelements">{{selectedCheckelements|json}}</pre>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
